h1{
    color: rgb(56, 196, 63);
    font-size: 50px;
}
h2{ 
    color: rgb(44, 45, 49);
    font-size:30px;
}
h3{
    color: rgb(0, 0, 0);
}
HEAD
h2{
    color: rgb(0, 0, 0);
}
body{
    background-color: rgb(250, 246, 241);
background-image: url('https://images2.alphacoders.com/135/thumb-1920-1353836.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
body {
    font-family: 'Arial', sans-serif;
}
h1 {
    font-family: 'Helvetica''Segoe UI', Arial, sans-serif;
}
p {
font-style:oblique;
 font-size: 20px;
}
.coelho {
height: 300px;
}

.Titulo{
    background-color: rgba(0, 0, 0, 0.651);
    padding: 5px;
    border-radius: 50px;
    box-shadow: 20px;
}

.Texto1{
     background-color: rgba(255, 255, 255, 0.63);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px;
}
.texto2{
      background-color: rgba(255, 255, 255, 0.664);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 20px;
}
.links{
      background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 20px;
}
